
<article class = "recipe-full">
  <div class = "recipe-type">{{Type}}</div>
  
      <p class = "recipe-name"> {{Name}} </p>
      <p class = "recipe-author"> Author: {{Author}} </p>
      <p class = "recipe-servings"> Number of Servings: {{Servings}} </p>
      <p class = "recipe-time"> Bake Time: {{Time}} </p>
      <p class = "recipe-description"> Description: {{Description}} </p>
      <div class = "recipe-content">
        <ul class = "recipe-ingredients">
          {{#each ingredients}}
            {{>list}}
          {{/each}}
        </ul>
        <ol class = "recipe-instructions">
          {{#each instructions}}
            {{>list}}
          {{/each}}
        </ol>
        <p class = "recipe-note"> Note: {{Note}} </p>

      </div>
    </article>